body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: darkslategray;
}

a {
  color: #00B7FF;
}

.title {
  margin-top : 32;
}

label,h1,h2,h3,h4,h5,h6,table {
  color: whitesmoke;
}

#compNM {
  background-color: azure;
} 