body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: darkslategray;
}

a {
  color: #00B7FF;
}

.title {
  margin-top : 32;
}

label,h1,h2,h3,h4,h5,h6,table {
  color: whitesmoke;
}

#compNM {
  background-color: azure;
} 

.td_task {
  max-width: 300px;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus{
  font-weight:bold;
}

td.editing {
  color : darkgray;
}
tr.editing {
  background : lightslategray;
}
td { 
  white-space:pre-wrap
};

button.invisible {
  border : "none";
};